@import "tailwindcss";


body, html {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible; 
}


#tasklist::-webkit-scrollbar {
  display: none;
}

#tasklist {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
